<!doctype html>

<html lang="en">
    <head>
    	{% block head %}
            <meta charset="utf-8">
            <meta http-equiv="Pragma" content="no-cache" />
            <title>{{ progName }}</title>
            
            <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    
    <body>
    
        <div id="contents">
        	{% block body %}
                
            {% endblock %}
        </div>
        	
        {% block js %}
            <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
       	{% endblock %}
    </body>
</html>